doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title raw-react-part-1
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    #react-app

    script(src="https://fb.me/react-0.14.7.js")
    script(src="https://fb.me/react-dom-0.14.7.js")

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
